<header>
      <nav class="header_container justify-between">
        <a href="#"
          ><img src="../assets/images/logo-white.png" alt="logo" class="logo"
        /></a>
        <div class="nav_items">
          <ul class="flex flex-wrap">
            <li>
              <a href="#" class="nav_item">系列鏡框</a>
            </li>
            <li>
              <a href="./stores.html" class="nav_item">門市據點</a>
            </li>
            <li>
              <a href="" class="nav_item">部落格</a>
            </li>
            <li>
              <a href="" class="nav_final_item">常見問題</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>