footer {
  background-color: #aa0601;
}
.footer_container {
  padding: 48px 0 32px 0;
  color: #ffffff;
}
.footer_container ul {
  padding: 12px 0;
  margin-bottom: 24px;
}
.contact {
  padding-left: 16px;
  font-size: 35px;
}
.desktop-mb-14 {
  margin-bottom: 14px;
}
.footer_first_item {
  padding-right: 24px;
}
.footer_item {
  padding: 0 24px;
}
.footer_first_item,
.footer_item {
  cursor: pointer;
}
.social_icon {
  width: 48px;
  height: 48px;
}
.footer_border {
  border-bottom: 1px solid #ffffff;
}
.copyright {
  display: flex;
}
.copyright_item_1 {
  margin: 0 24px;
}
.copyright_item_2 {
  margin-left: 24px;
}
@media (max-width: 992px) {
  .footer_container ul li {
    white-space: nowrap;
  }
  .social_icon {
    width: 40px;
    height: 40px;
  }
  .footer_container ul {
    padding: 8px 0;
  }
  .md-mb-2 {
    margin-bottom: 8px;
  }
    .ml-2 {
    margin-left: 8px;
  }
  .mx-2 {
    margin: 0 8px;
  }
}
@media (max-width: 576px) {
  .footer_container {
    max-width: 100%;
    padding: 24px 14px;
  }
  .social_icon {
    width: 24px;
    height: 24px;
  }
  .contact {
    font-size: 16px;
    padding-left: 10px;
  }
  .ml-1 {
    margin-left: 4px;
  }
  .mx-1 {
    margin: 0 4px;
  }
  .mb-5 {
    margin-bottom: 20px;
  }
  .mt-5 {
    margin-top: 20px;
  }
  .copyright {
    flex-direction: column;
  }
  .copyright_item_1 {
    margin: 0;
  }
  .copyright_item_2 {
    margin: 0;
  }
  .hidden {
    display: none;
  }
}
